#confirmify-pending {
    font-size: 16px;
}
#confirmify-pending svg {
  animation: rotate 3s infinite;
   transform-origin: 50% 50%;
   transform-box: fill-box;
 }


 @keyframes rotate{
    from{
       transform: rotate(0deg);}to{
       transform: rotate(360deg);
    }
 }